#chartContainer{
    height: 500px;
    width: 100%;
    padding:0;
    margin:0;
    text-align: center;
}

.shiftDaysLeft img, .shiftDaysRight img{
    width: 30px;
}

.shiftDaysLeft:hover, .shiftDaysRight:hover{
    border: 1px solid black;
    width: 58px;
    cursor: pointer;
}

.shiftDaysLeft:hover span.imgCenterHelper, .shiftDaysRight:hover span.imgCenterHelper{
    height: calc(100% - 1px);
}

.shiftDaysLeft, .shiftDaysRight{
    width: 60px;
    height: 100%;
    /*position: relative;*/
}

.shiftDaysLeft{
    float: left;
}

.shiftDaysRight{
    float: right;
}

.col{
    display: inline-block;
}

.imgCenterHelper{
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

#chart_div{
    width: calc(100% - 150px);
    /*margin: 0 70px;*/
    height: 100%;
    background-image: url(../img/loading.gif);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}


.selectTest{
	width: 190px;
}

.selectPlug{
	width: 250px;
}

#newEventDiv{
	display: none;
}

.ui-dialog-osx {
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px; border-width: 0 8px 8px 8px;
}

input.dialog, textarea.dialog{
    background-color: #f0eee8;
    border-radius: 4px;
    width: 270px;
    height: 30px;
}

textarea.dialog{
    height: 60px;
    padding-right: 15px;
    border: none;
}

.btnOn > span{
    background-color: #21e221;
}

.btnOff > span{
    background-color: #f76d6d;
}

.redMessage{
    color: red;
}
.greenMessage{
    color: green;
}