@import url("http://fonts.googleapis.com/css?family=Lato");

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  height: 40px;
}

.select-styled {/*
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;*/
  background-color: #e5e4cc;
  color: #514f42;
  padding: 2px 0px 4px 0px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  /*margin-left: 5px;*/
  padding-right: 0px;
  text-indent: 10px;

  background: #e5e4cc url("../img/select-arrow.png") no-repeat;
  background-position: right 3px center;
  background-size:20px;
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  /*border: 7px solid transparent;*/
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 15px;
  right: 10px;
}

/*.select-styled:hover {
  background-color: #b83729;
}*/

.select-styled:active, .select-styled.active {
  background-color: #e5e4cc;
  color: #514f42;
}
.select-styled:active:after, .select-styled.active:after {
  /*top: 9px;*/
  /*border-color: transparent transparent #fff transparent;*/
}

.select-options {
  display: none;
  position: absolute;
  top: 77%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #e5e4cc;
  color:#514f42;
  /*margin-left: 5px;*/
}
.select-options li {
  margin: 0;
  padding: 8px 0px 3px 0px;
  text-indent: 10px;
  /*border-top: 1px solid #962d22;*/
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover {
  color: #e5e4cc;
  background: #514f42;
}
.select-options li[rel="hide"] {
  display: none;
}
