table{
	margin-top: 20px;
	border: 1px solid black;
	border-collapse: collapse;

}

td{
	width: 180px;
	border: 1px solid black;
	cellspacing:0px;
	padding-left:  20px;
	padding-right: 20px;
}

td input[type="text"]{
	width: 120px;
}

tr.download:hover {
	background-color: #eeeeee;
}

td.download:hover{
	background-color: #bbbbbb;
    cursor: pointer;
}

a {
    width: 100%;
    height: 100%;
    display: block;
    font-color: #cccccc
}